body{
  background: linear-gradient(180deg, #444, #aaa);
  overflow: hidden;
}

div{
  box-sizing: border-box;
}

#controls{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 300px;
  background-color: rgba(64, 64, 64, 0.5);
  border-radius: 5px;
  border: solid 2px rgba(128, 128, 128, 0.5);
  padding: 10px;
  z-index: 1000;
  box-shadow: 2px 2px 5px black;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

#canv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#handle{
  position: relative;
  padding-left: 2px;
  top: -12px;
  left: -12px;
  width: 200px;
  height: 25px;
  line-height: 22px;
  background-color: rgba(192, 192, 192, 0.5);
  border: solid 2px transparent;
  border-radius: 5px 5px 0px 0px;
  cursor: move;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: -15px;
}

#stlExport{
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 15px;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: 1px 1px 5px black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

#stlExport:active{
  box-shadow: 0px 0px 0px black;
  transform: translateY(1px);
}

.header{
  color: #ddd;
  border-bottom: solid 1px #ddd;
  margin-bottom: 4px;
  position: relative;
  left: -5px;
  width: calc(100% + 5px);
  margin-top: 10px;
  font-style: italic;
}

.stat{
  position: relative;
  color: #ddd;
  width: 100%;
  clear: both;
  border-bottom: solid 1px #1e1e1e;
  margin-bottom: 2px;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.stat::after{
  content: attr(data-value);
  float: right;
}

.choice{
  border-bottom: solid 1px #1e1e1e;
  clear: both;
  margin-bottom: 2px;
}
.choice .label{
  color: #ddd;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.choice select,
.choice input{
  float: right;
  border-radius: 2px;
  max-width: 60px;
  border: none;
  text-align: right;
  padding-right: 5px;
  box-sizing: border-box;
  -webkit-user-select: text;
  user-select: text;
}
